<!DOCTYPE html>
<html lang="es" data-scheme="dark">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>XA</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/global/cssreset.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/source/home/home.css'>
</head>

<body>
    <nav id="navbar" class="nav-hidden">
        <object id="navbar-logo" class="navbar-logo" type="image/svg+xml" data="/global/logo/logo.svg"></object>
        <div class="navbar-menu">
            <p id="themeToggle" class="navbar-menu-handle">▲</p>
        </div>
    </nav>

    <section class="hero contenedor"></section>
    <section class="servicios contenedor"></section>
    <section class="sobre-nosotros contenedor"></section>

    <footer></footer>

    <script src="/source/home/home.js"></script>
</body>

</html>
